/* * {
    box-sizing: border-box;
    border: 1px solid red;
} */

.eventButtons {
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
padding-bottom: 5%;
}

div {
    background-color: antiquewhite;
}

.container {
    border: 3px solid purple;
}

#secretSpan {
    display: none;
}



